<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('order_tracker') }}">Order Tracker</a>
        <a href="{{ url_for('add_job') }}">Add Job</a>
    </nav>
    <h1>Terminations by Line</h1>
    <div class="form-container">
        <img src="{{ url_for('static', filename='term_chart.png') }}" alt="Term Chart">
    </div>
</body>
</html>